---
layout: default
---

<noscript>
	<style>

		article .footnotes {
			display: block;
		}

	</style>
</noscript>

<article>

	<div class="center">
		<h1>{{ page.title }}</h1>
		<time>{{ page.date | date: '%B %-d, %Y' }}</time>
	</div>

	<div class="divider"></div>

	{{ content }}

</article>

<div class="back">
	<a id="back-button" href="{{site.baseurl}}/">Back</a> <a href="https://raw.githubusercontent.com/tuftsio/projects/master/_posts/{{ page.date | date: "%Y-%m-%d-" }}{{page.url | replace:'/',''}}.md">See Markdown</a>
</div>
